input{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    display: block;
    transition: all 0.3s;
  }
  
  
  select{
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    color: #60666d;
  }
  .meme{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  
  }
  .meme span {
    font-family: impact;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
    word-wrap: break-word;
    position: absolute;
    width: 500px;
    font-size: 38px;
    color: white;
  }
  .meme__topText{
    margin-top: 20px;
  }
  .meme__bottomText{
    margin-top: 450px;
  }

  button{
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    font-size: 18px;
    border: 1px solid rgba(22, 76, 167, 0.6);
  }
  button:hover{
    background-color: #60666d;
  }

  @media only screen and (max-width: 600px) {
    .meme span{
      width: 350px;

    }
    .meme img{
      width: 100%;
    }
    .meme__bottomText{
      margin-top: 320px;
    }
  }