.App {
  text-align: center;
}
.meme{
  display: flex;
  justify-content: center;
}
.meme span {
  position: absolute;
  width: 100%;
  left: 0px;
  font-size: 38px;
  color: white;
}
.meme__topText{
  margin-top: 50px;
  width: fit-content;
}
.meme__bottomText{
  margin-top: 450px;
  width: fit-content;
}